h1 {
    text-align: center;
}
h3 {
    text-align: center;;
}
nav{
    background-color: gainsboro;
}
body {
    margin-left: 60px;
    margin-right: 60px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: auto;
    padding-right: 30px;
}
a {
    text-decoration: none;
    color:black;
}
a:hover {
    color: grey;
}
h4{
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}
article p {
    text-align:justify;
    width:70%;
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 20px;
    min-height: 130px;
}

img {
    width: 150px;
    position: absolute;
    display:inline-block;
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: 30px; 
}
.right p{
    padding-left: 190px;
    margin-bottom: 20px;
    min-height: 140px;
}
.right img {
    margin-top: 15px;
    margin-bottom: 20px;
}