* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 20px auto;
  font-size: x-large;
  text-align: center;
}

fieldset {
  border: 1px solid grey;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  padding: 15px;
}

input , textarea {
  border: 1px solid lightgrey;
}

button {
  margin: 15px;
  margin-bottom: 50px;
}

.buttons {
  width: 80%;
}

.form {
  background-color: white;
  border: 1px solid lightgray;
}
