
/* - Posicione o Mário acima do Goomba.
- Posicione a tag p para que fique dentro do balão de fala.
- Posicione o balão para que se torne uma fala de Bowser.
- Posicione os elementos para que tenham alguma distância entre si. */
.super-mario {
    width: 100px;
    position: absolute;
}

.goomba {
    width: 100px;
    position: absolute;
    top: 230px;

}

.baloon {
    width: 110px;
    position: absolute;
    top: 200px;
    left: 150px;
    z-index: 2;
}

.bowser {
    width: 100px;
    position: absolute;
    top: 230px;
    left: 250px;
    z-index: 1;

}

.word {
    width: 100px;
    position:absolute;
    left: 165px;
    top:195px;
    z-index: 3;
}