h1, h2, h3 {
    text-align: center;
}
h3 {
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 30px;
}
nav{
    background-color: gainsboro;
}
body {
    margin-left: 5%;
    margin-right: 5%;
}

span {
    text-decoration: underline;
}

table {
    margin: auto;
    width: 300px;
    border-collapse: collapse;
    border: 2px solid black;
    margin-bottom: 30px;
}
tr, td {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
tr:nth-child(even) {
    background-color: gainsboro;
}

tr td:nth-child(2){
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: auto;
    padding-left: 30px;
}
a {
    text-decoration: none;
    color:black;
}
a:hover {
    color: grey;
}
h4{
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}
section p{
    text-align:justify;
    vertical-align: top;
    display: inline-block;
    width: 70%;
}

img {
    display: inline-block;
    width: 250px;
    margin-left: 30px;
    margin-top:15px;
    position: relative;
    bottom: 30px;
}
.right p{
    text-align: justify;
    vertical-align: top;
    width: 60%;
    display: inline-block;
    padding-top: 16px;
}
.right img {
    display: inline-block;
    width: 250px;
    margin-right: 30px;
    position:relative;
    bottom: 30px;
}

section ul {
    text-align: left;
    list-style: none;
    margin-bottom: 30px;
}

footer {
    text-align: right;
}