.App {
  text-align: center;
}

.App-header {
  display: block;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #282c34;
}

.content {
  width: 66%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pokemon {
  width: 20%;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  padding: 15px;
  margin: 15px;
}